<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>

    <% if (details) { %>
      <h3>Details</h3>
      <pre><%= details %></pre>
    <% } %>

    <p><a href="/">Back</a></p>
  </body>
</html>
